.button__login {
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47px;
    background-color: #105d3b;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten($color: #105d3b, $amount: 7);
    }

    p {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        line-height: 34px;
    }
}
