.container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 20px;
    max-width: 89vw;
    height: calc(100vh - 180px);
    border-radius: 10px;
    padding: 0px 40px;
}

.nav {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-right: 10px;
    outline: none;
    transition: box-shadow 0.3s ease;
    border-radius: 12px;
    &:focus {
        outline: none;
    }
}

.active {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.containerOfList {
    width: 1200px;
    height: calc(100vh - 220px);
    overflow: auto;
}

.listOfMyAnnouncements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_primery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: #178957;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.1rem;
    color: #fff;

    &:hover {
        background: lighten($color: #178957, $amount: 10);
    }
}
