@mixin flex-gap {
    display: flex;
    align-items: center;
}

.header {
    @include flex-gap;
    max-width: 89vw;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 30px;
    position: relative;
}

.header__nav {
    @include flex-gap;
    gap: 60px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    li a,
    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 12px;
        font-size: 1.3em;
        border: 1px solid rgba(149, 157, 165, 0.5);
    }
}
