.container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 20px;
    max-width: 89vw;
    height: calc(100vh - 180px);
    border-radius: 10px;
    padding: 0px 40px;

    .title {
        font-size: 1.5em;
        font-weight: 500;
    }
}

.containerOfList {
    width: 90%;
    height: calc(100vh - 220px);
    overflow: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }
}

.listOfMyAnnouncements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_primery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: #178957;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.1rem;
    color: #fff;

    &:hover {
        background: lighten($color: #178957, $amount: 10);
    }
}
